@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Kumbh Sans';
    src: url('../src/assets/fonts/KumbhSans-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 18pt';
    src: url('../src/assets/fonts/Inter18pt-Medium.woff2') format('woff2'),
        url('../src/assets/fonts/Inter18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../src/assets/fonts/KumbhSans-SemiBold.woff2') format('woff2'),
        url('../src/assets/fonts/KumbhSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../src/assets/fonts/KumbhSans-Medium.woff2') format('woff2'),
        url('../src/assets/fonts/KumbhSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
::-webkit-scrollbar{
    display: none;
 }


.active{
    background-color: #509CDB;
    padding: 12px;
    border-radius: 4px;
}